<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124969663010-vf0ivm9ir2hsg3h35g56atqchd0fgub4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124969663010-vf0ivm9ir2hsg3h35g56atqchd0fgub4</string>
	<key>API_KEY</key>
	<string>AIzaSyCVUcC-t85OqNmMcuJf6n0gHWReUlBzXyI</string>
	<key>GCM_SENDER_ID</key>
	<string>124969663010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginApp</string>
	<key>PROJECT_ID</key>
	<string>login-app-e4768</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-e4768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124969663010:ios:6fd90641d6aaa91ca2287b</string>
</dict>
</plist>